<div class="main-page" style="background-image: url('assets//background1.jpg')">
  <mat-card style="background-image: url('assets//background3.jpg')">
    <mat-card-content>Welcome to myFlix</mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Register
      </button>
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        color="primary"
        style="margin-right: 10px"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
